body {
  margin: 0;
  font-family: RotondaC;
  font-size: 16px;
}

@media (min-width: 1400px){
  body {
    font-size: 20px;
  }
}

.header {
  width: 95vw;
  max-width: 1145px;
  margin: 36px auto 45px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: top;
  justify-items: center;
  grid-template-areas: 
    "burger logo contacts";
}

@media (max-width: 660px){
  .header {
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
      "burger logo"
      "burger contacts";
  }
}

@media (max-width: 400px){
  .header {
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
      "burger logo"
      "contacts contacts";
  }
}

.menu {
  width: 100%;
  background-color: #ED3237;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  visibility: hidden;
  transition: all 0.5s ease;
  opacity: 0;
}

@media (max-width: 1400px){
  .menu {
    font-size: 12px;
  }
}

@media (max-width: 900px){
  .menu {
    width: auto;
  }
}

.menu a {
  color: #FFF;
  text-decoration: none;
}

.menu a:hover {
  color: #CCC;
}

.menu ul {
  list-style-type: none;
}

.menu__content {
  width: 80%;
  max-width: 1200px;
  min-width: 300px;
  margin: 30px auto 5vw auto;
}

.menu__close {
  cursor: pointer;
  margin-bottom: 2vw;
}

.menu__general {
  padding-inline-start: 0;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(300px, 320px));
  column-gap: 6vw;
  grid-row-gap: 2vw;
  justify-items: left;
  margin-bottom: 4vw;
}

.menu__services {
  padding-inline-start: 0;
}

.menu__item {
  font-weight: bold;
  font-size: 1.88em;
}

.menu__general .menu__item {
  white-space: pre;
}

.menu-services__items {
  width: 100%;
  font-size: .67em;
  font-weight: normal;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 320px));
  column-gap: 6vw;
  grid-row-gap: 2vw;
  justify-items: left;
  padding-inline-start: 0;
  margin-top: 2vw;
}

.visible {
  visibility: visible;
  opacity: 1;
}

.burger {
  width: 210px;
  grid-area: burger;
  position: relative;
  cursor: pointer;
}

@media (max-width: 660px){
  .burger {
    width: auto;
  }
}

.burger_line {
  width: 37px;
  height: 4px;
  background-color: #000;
  margin: 7px 0;
}

.logo {
  width: 228px;
  grid-area: logo;
}

@media (max-width: 660px){
  .logo {
    width: auto;
  }
}

@media (max-width: 960px){
  .logo__img {
    width: 166px;
  }
}

.tel {
  font-weight: bold;
  font-size: 1.2em;
}

.adress {
  font-size: .7em;  
}

.contacts {
  width: 270px;
  grid-area: contacts;
}

@media (max-width: 960px){
  .contacts {
    width: 200px;
  }
}

@media (max-width: 660px){
  .contacts {
    width: 70%;
    text-align: center;
  }
}

.title {
  font-weight: bold;
  font-size: 2.75em;
  text-transform: uppercase;
  max-width: 785px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}

@media (max-width: 690px){
  .title {
    font-size: 2.25em;
  }
}

@media (max-width: 510px){
  .title {
    font-size: 1.6em;
  }
}

.center {
  width: 88vw;
  height: 41vw;
  margin: 0 auto;
  background-image: url('./center.jpg');
  background-size: 100% 100%;
}

@media (max-width: 690px){
  .center {
    background-image: url('./center-mobile.png');
  }
}

.our-advantages {
  display: flex;
  justify-content: space-between;
  width: 1151px;
  margin: 0 auto;
}

@media (max-width: 1200px){
  .our-advantages {
    width: 85vw;
  }
}

@media (max-width: 725px){
  .our-advantages {
    flex-direction: column;
    width: 60vw;
  }
}

@media (max-width: 400px){
  .our-advantages {
    margin-bottom: 70px;
  }
}

.our-advantages-item {
  position: relative;
  width: 300px;
}

@media (max-width: 1200px){
  .our-advantages-item {
    width: 30%;
  }
}

@media (max-width: 725px){
  .our-advantages-item {
    width: 100%;
  }
}

.our-advantages-item__number {
  font-weight: bold;
  font-size: 7.9em;
  text-transform: uppercase;
  color: #EDEDED;
}

.our-advantages-item__text {
  font-size: 1em;
  width: calc(100%-20px);
  position: absolute;
  top: 40px;
  left: 70px;
}

@media (max-width: 725px){
  .our-advantages-item__text {
    top: 65px;
  }
}

.icons-advantages {
  width: 90vw;
  justify-content: space-between;
  margin: 0 auto;
  display: none;
}

@media (max-width: 690px) {
  .icons-advantages {
    display: flex;
  }
}

@media (max-width: 620px) {
  .icons-advantages {
    display: block;
  }
}

.column:first-child {
  margin-right: 15px;
}

.icons-advantages__item {
  margin-bottom: 20px;
}

.icons-advantages-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icons-advantages-item__icon {
  width: 75px;
  height: 60px;
  background-repeat: no-repeat;
  margin-right: 20px;
}

.icons-advantages-item_text {
  font-size: 1.13em;
  width: 31vw;
}

@media (max-width: 620px) {
  .icons-advantages-item_text {
    width: 70%;
  }
}

.videocamera {
  background-image: url('./videocamera.png');
}

.security {
  background-image: url('./security.png');
}

.manager {
  background-image: url('./manager.png');
}

.parking {
  background-image: url('./parking.png');
}

.distance {
  background-image: url('./distance.png');
}

.responsibility {
 background-image: url('./responsibility.png');
}

.carousel {
  height: 730px;
  background: #FFDD2E;
  padding-top: 70px;
  box-sizing: border-box;
  overflow: hidden;
}

@media (max-width: 810px){
  .carousel {
    height: 610px;
    padding-top: 50px;
  }
}

@media (max-width: 590px){
  .carousel {
    height: 550px;
  }
}

@media (max-width: 510px){
  .carousel {
    height: 736px;
  }
}

@media (max-width: 400px){
  .carousel {
    height: 800px;
  }
}

.carousel__offset {
  position: relative;
  left: calc(50vw - 400px);
}

@media (max-width: 810px){
  .carousel__offset {
    left: calc(50vw - 285px);
  }
}

@media (max-width: 590px){
  .carousel__offset {
    left: calc(50vw - 255px);
  }
}

@media (max-width: 510px){
  .carousel__offset {
    left: calc(50vw - 145px);
  }
}

.carousel__bar {
  left: 0;
  position: relative;
  transition: all ease 1s;
  display: flex;
  width: 2538px;
}

.carousel__title {
  font-weight: bold;
  font-size: 1.8em;
  text-align: center;
  text-transform: uppercase;
}

@media (max-width: 510px){
  .carousel__title {
    font-size: 1.6em;
  }
}

@media (max-width: 590px){
  .carousel__title {
    font-size: 1.5em;
  }
}

.carousel__card {
  width: 800px;
  height: 395px;
  margin: 23px 20px 23px 0;
}

@media (max-width: 810px){
  .carousel__card {
    width: 570px;
    height: 324px;
  }
}

@media (max-width: 590px){
  .carousel__card {
    width: 510px;
    height: 290px;
  }
}

@media (max-width: 510px){
  .carousel__card {
    width: 290px;
    height: 502px;
  }
}

.carousel__slider {
  margin: 20px auto;
}

.slider {
  display: flex;
  width: 100px;
  justify-content: space-between;
}

.slider__circle {
  width: 21px;
  height: 21px;
  background: #FFF;
  border-radius: 50%;
  cursor: pointer;
}

@media (max-width: 930px){
  .slider__circle {
    width: 16px;
    height: 16px;
  }
}

.slider__circle_active {
   background: #252423;
   border: solid #FFF 5px;
   box-sizing: border-box;
}

@media (max-width: 930px){
  .slider__circle_active {
    border: solid #FFF 3px;
  }
}

.carousel__btn {
  width: 370px;
  height: 63px;
  background: #E93136;
  border-radius: 46px;
  font-weight: bold;
  font-size: 1em;
  line-height: 63px;
  text-align: center;
  color: #FFF;
  margin: 40px auto;
  box-shadow: 1px 6px #FF6468, 1px 1px 20px rgba(0, 0, 0, 0.15);
  border: none;
  padding: 0;
  display: block;
  outline: none;
  cursor: pointer;
}

@media (max-width: 960px){
  .carousel__btn {
    width: 300px;
    height: 50px;
    line-height: 50px;
  }
}

@media (max-width: 510px){
  .carousel__btn {
    margin: 15px auto;
    width: 290px;
  }
}

.card {
  display: flex;
  justify-content: space-evenly;
  background: #FFF;
  border-radius: 20px;
  box-sizing: border-box;
  padding-top: 40px;
}

@media (max-width: 510px){
  .card {
    flex-direction: column;
    padding: 20px;
  }
}

.card__photo {
  width: 400px;
  height: 300px;
  background-image: url('../img/card-photo.png');
  background-size: 100% 100%;
}

@media (max-width: 810px){
  .card__photo {
    width: 240px;
    height: 180px;
  }
}

@media (max-width: 590px){
  .card__photo {
    width: 214px;
    height: 180px;
  }
}

@media (max-width: 510px){
  .card__photo {
    width: 249px;
    height: 209px;
    margin-bottom: 15px;
  }
}

.card__title {
  font-weight: bold;
  font-size: 1.5em;
  text-transform: uppercase;
}

@media (max-width: 590px){
  .card__title {
    font-size: 1.25em;
  }
}

.card__price {
  font-size: 1.5em;
  text-transform: uppercase;
}


@media (max-width: 590px){
  .card__price {
    font-size: 1.25em;
  }
}

.card__credit-price {
  font-weight: bold;
  font-size: 1em;
  line-height: 24px;
  color: #FFF;
  background: #ED3237;
  border-radius: 5px;
  width: 170px;
  height: 24px;
  text-align: center;
}

@media (max-width: 590px){
  .card__credit-price {
    font-size: .88em;
  }
}

.card__specifications {
  font-size: 1em;
  padding-inline-start: 0;
  list-style-type: none;
}

@media (max-width: 590px){
  .card__specifications {
    font-size: .88em;
  }
}

.card_btn {
  width: 226px;
  height: 50px;
  background: #FFDD2E;
  border-radius: 46px;
  font-weight: bold;
  font-size: 1em;
  line-height: 50px;
  padding: 0;
  outline: none;
  cursor: pointer;
  border: none;
  text-align: center;
  box-shadow: 1px 6px #FFEC8B, 1px 1px 20px rgba(0, 0, 0, 0.15);
}

@media (max-width: 960px){
  .card_btn {
    width: 200px;
    height: 40px;
    line-height: 40px;
  }
}

@media (max-width: 590px){
  .card_btn {
    width: 150px;
  }
}

.wrap {
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #E9E9E9;
  padding-bottom: 83px;
  position: relative;
}

.benefits {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 50px;
}

.benefits__img {
  width: 40vw;
  max-width: 727px;
  max-height: 501px;
}

.girl {
  width: 100%;
}

@media (max-width: 670px){
  .benefits__img {
    display: none;
  }
}

.benefits__text {
  width: 50vw;
  max-width: 760px;
  padding-top: 30px;
}

@media (min-width: 1400px){
  .benefits__text {
    padding-top: 9vw;
    position: relative;
  }
}

@media (min-width: 960px){
  .benefits__text {
    padding-top: 9vw;
    position: relative;
  }
}

@media (max-width: 670px){
  .benefits__text {
    width: 90vw;
  }
}

.benefits__title {
  font-weight: bold;
  font-size: 2.7em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

@media (min-width: 1400px){
  .benefits__title {
    position: absolute;
    top: 5vw;
    left: -200px;
  }
}

@media (min-width: 960px){
  .benefits__title {
    position: absolute;
    top: 3vw;
    left: -100px;
  }
}

@media (max-width: 690px){
  .benefits__title {
    font-size: 2.25em;
  }
}

@media (max-width: 510px){
  .benefits__title {
    font-size: 1.6em;
  }
}

.benefits__subtitle {
  font-size: 1.8em;
  text-transform: uppercase;
  color: #252423;
}

@media (min-width: 1400px){
  .benefits__subtitle {
    margin-bottom: 2vw;
  }
}

@media (max-width: 690px){
  .benefits__subtitle {
    font-size: 1.63em;
  }
}

@media (max-width: 510px){
  .benefits__subtitle {
    font-size: 1.5em;
  }
}

.benefits__description {
  font-size: 1em;
  width: 85%;
  max-width: 480px;
  list-style-image: url('./marker.svg');
}

.statement {
  max-width: 753px;
  min-width: 608px;
  width: 39vw;
  border: 4px solid #E10000;
  box-sizing: border-box;
  border-radius: 20px;
  font-weight: bold;
  font-size: 1em;
  text-align: center;
  color: #FF0000;
  margin: 0 auto 70px auto;
}

@media (max-width: 690px){
  .statement {
    width: 90vw;
    min-width: unset;
  }
}

.examples {
  width: 1192px;
  margin: 0 auto 90px auto;
}

@media (max-width: 1200px){
  .examples {
    width: 949px;
  }
}

@media (max-width: 960px){
  .examples {
    display: none;
  }
}

.examples__autos {
  display: flex;
  justify-content: space-between;
}

.examples__auto {
  width: 294px;
  height: 164px;
  background-repeat: no-repeat;
  background-position: center;
}

.auto-first {
  background-image: url('./auto-first.png');
}

.auto-second {
  background-image: url('./auto-second.png');
}

.auto-third {
  background-image: url('./auto-third.png');
}

.auto-fourth {
  background-image: url('./auto-fourth.png');
}

.scale {
  width: 1145px;
  height: 10px;
  background: #FFF;
  border-radius: 52px;
  position: relative;
  margin-bottom: 50px;
}

@media (max-width: 1200px){
  .scale {
    width: 933px;
  }
}

.scale__stained {
  position: absolute;
  width: 387px;
  height: 10px;
  left: 0;
  top: 0;
  background: #FF0000;
  border-radius: 52px;
}

.scale__arrow-bg {
  position: absolute;
  width: 121px;
  height: 59px;
  left: 377px;
  top: -25px;
  background: #FF0000;
  box-shadow: 5px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 52px;
  padding-top: 17px;
  padding-left: 30px;
  box-sizing: border-box;
}

@media (max-width: 1200px){
  .scale__arrow-bg {
    left: 300px;
  }
}

.examples__descriptions {
  display: flex;
  justify-content: space-between;
}

.examples__description {
  width: 245px;
}

.examples-description {
  text-align: center;
}

.examples-description__text {
  font-size: 1em;
  margin-bottom: 22px;
}

.examples-description__time {
  font-weight: bold;
  font-size: 2.45em;
  text-transform: uppercase;
}

.action-btn {
  cursor: pointer;
  z-index: 1;
  width: 373px;
  height: 63px;
  background: #FFDD2E;
  border-radius: 46px;
  line-height: 63px;
  text-align: center;
  font-weight: bold;
  font-size: 1em;
  margin: 0 auto;
  box-shadow: 1px 6px #FFEC8B, 1px 1px 20px rgba(0, 0, 0, 0.15);
  border: none;
  padding: 0;
  display: block;
  outline: none;
  position: relative;
}

@media (max-width: 960px){
  .action-btn {
    width: 300px;
    height: 50px;
    line-height: 50px;
  }
}

@media (max-width: 510px){
  .action-btn {
    width: 290px;
  }
}

.wrap::before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 150px 0 0 50vw;
  border-color: transparent transparent transparent #FFF;
  z-index: 0;
}

.wrap::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 150px 50vw 0  0;
  border-color: transparent #FFF transparent transparent;
  z-index: 0;
}

@media (max-width: 960px){
    .wrap::before {
      border-width: 50px 0 0 50vw;
    }

    .wrap::after {
      border-width: 50px 50vw 0  0;
    }
  }