body {
  margin: 0;
  font-family: RotondaC;
}

.header {
  width: 1145px;
  margin: 36px auto 45px;
  display: flex;
  justify-content: space-between;
}

.burger {
  width: 210px;
}

.burger_line {
  width: 37px;
  height: 4px;
  background-color: #000;
  margin: 7px 0;
}

.logo {
  width: 228px;
}

.tel {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
}

.adress {
  font-size: 14px;
  line-height: 16px;
  
}

.contacts {
  width: 270px;
}

.title {
  font-weight: bold;
  font-size: 55px;
  line-height: 105%;
  letter-spacing: 0.015em;
  text-transform: uppercase;
  width: 785px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}

.img {
  text-align: center;
}

.center {
  width: 88vw;
}

.our-advantages {
  display: flex;
  justify-content: space-between;
  width: 1151px;
  margin: 0 auto;
}

.our-advantages-item {
  position: relative;
  width: 300px;
}

.our-advantages-item__number {
  font-weight: bold;
  font-size: 158px;
  letter-spacing: 0.015em;
  text-transform: uppercase;
  color: #EDEDED;
}

.our-advantages-item__text {
  font-size: 20px;
  line-height: 110%;
  letter-spacing: 0.015em;
  width: 280px;
  position: absolute;
  top: 40px;
  left: 70px;
}

.carousel {
  height: 730px;
  background: #FFDD2E;
  padding-top: 70px;
  box-sizing: border-box;
}

.carousel__title {
  font-weight: bold;
  font-size: 36px;
  line-height: 110%;
  text-align: center;
  letter-spacing: 0.015em;
  text-transform: uppercase;
}

.carousel__card {
  width: 800px;
  height: 395px;
  background: #FFF;
  border-radius: 20px;
  margin: 23px auto;
}

.carousel__slider {
  margin: 20px auto;
}

.slider {
  display: flex;
  width: 232px;
  justify-content: space-between;
}

.slider__circle {
  width: 21px;
  height: 21px;
  background: #FFF;
  border-radius: 50%;
}

.slider__circle_active {
   background: #252423;
   border: solid #FFF 5px;
   box-sizing: border-box;
}

.carousel__btn {
  width: 370px;
  height: 63px;
  background: #E93136;
  border-radius: 46px;
  font-weight: bold;
  font-size: 20px;
  line-height: 63px;
  text-align: center;
  color: #FFFFFF;
  margin: 40px auto;
  box-shadow: 1px 6px #FF6468, 1px 1px 20px rgba(0, 0, 0, 0.15);
}